{% load i18n %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{% block title %}User test{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="http://writ.cmcenroe.me/1.0.4/writ.min.css">
    </head>

    <body>
        <header>
            {% block header %}
                <h1>Sports Room @ IIITB</h1>
                <nav>
                    <ul>
                        {% if user.is_authenticated %}
                            <li>{% trans "Logged in" %}: <h4>{{ user.username }} </h4></li>
                            <li><a href="{% url 'logout' %}">{% trans "Log out" %}</a></li>
                            <li><a href="{% url 'password_change' %}">{% trans "Change password" %}</a></li>
                        {% else %}
                            <li><a href="{% url 'login' %}">{% trans "Log in" %}</a></li>
                        {% endif %}
                    </ul>
                    <hr/>
                </nav>
            {% endblock %}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% block footer %}
                <hr/>
            {% endblock %}
        </footer>
    </body>

</html>
