{% load i18n %}
<!DOCTYPE html>
<html>
<head>
	<title>IIITB Sports Room</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://writ.cmcenroe.me/1.0.4/writ.min.css">
	<link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/css/material-kit.css" rel="stylesheet"/>
	<link href="/css/demo.css" rel="stylesheet"/>
	<link rel="stylesheet" href="/css/bootstrap-select.min.css" media="screen" title="no title">
</head>
<body class="components-page">
	<header>
					{% block header %}
					<nav class="navbar navbar-fixed-top navbar-color-on-scroll navbar-transparent">
						<div class="container">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" href="<%= root_path %>"> <font color = "white"><b> IIIT Bangalore Sports Room</b></font> </a>
							</div>
								<div class="collapse navbar-collapse" id="navigation-example">
									<ul class="nav navbar-nav navbar-right">
										{% if user.is_authenticated %}
											<li class="dropdown">{% trans "Logged in" %}: <div class="dropdown-toggle btn btn-raised btn-primary btn-round" data-toggle="dropdown" aria-expanded="false">{{ user.username }} </li></div><br>

													<a style="float:right" class="btn btn-raised btn-round btn-info" href="{% url 'logout' %}">{% trans "Log out" %}</a>
													<a style="float:right" class="btn btn-raised btn-round btn-info" href="{% url 'password_change' %}">{% trans "Change password" %}</a>

									{% else %}
											<li><a class="btn btn-raised btn-round btn-info" href="{% url 'login' %}">{% trans "Log in" %}</a></li>
									{% endif %}
							</ul>

					</nav>

			{% endblock %}
	</header>

  <div class="wrapper">
    <div class="header header-filter" style="background-image: url('/img/7.jpg');">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-6 col-md-offset-3 brand">
						 {% block title %}{% endblock %}
  				</div>
  			</div>
  		</div>
  	</div>
    <div class="main main-raised">
      <div class="container">
          <div class="section section-landing">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
								<main>
				            {% block content %}{% endblock %}
				        </main>
              </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</body>

</html>
