{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div>
        <h5>Fine :  {{ user_fine }} </h5>
    </div>
    <br/>

    <form action="." method="post">
        {% csrf_token %}
        {% for equipment in all_equipments %}
            <input type="radio" id="equipment{{ forloop.counter }}" name="equipment" value="{{ equipment.id }}">
            <label for="equipment{{ forloop.counter }}">
                {{ equipment.category }}
                ({{ equipment.n_equipment }})
            </label>

        {% endfor %}
        <input type="submit" value="Book">
    </form>




{% endblock %}
